#pageHeader{
    box-shadow: 0px 0px 10px rgb(150, 155, 155);
}

h1{
    text-align: center;
    font-size: 300%;
    padding: 10px;
}

main{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.employeeCard{
    width: 200px;
    box-shadow: 2px 2px 10px rgb(150, 155, 155);
    margin: auto;
    margin-top: 10px;
    line-height: 160%;
    border-radius: 10px;
    background-color: darkslategray;
    font-size: larger;
}

.cardHeader{
    color: aliceblue;
    padding: 10px;
}

.cardBody{
    background-color: white;
    padding: 10px;
}

.cardBody p{
    background-color: whitesmoke;
    padding: 5px;
}

.cardFooter{
    height: 10px;
}